name: Run Tests

on:
  pull_request:
  push:
    branches:
      - master
      - craft5

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Validate composer.json
        run: composer validate --strict

      - name: Cache Composer packages
        uses: actions/cache@v4
        with:
          path: |
            composer.lock
            vendor
          key: ${{ runner.os }}-craft5-vendor-${{ hashFiles('composer.json') }}

      - name: Configure Composer plugins
        run: |
          composer config --no-plugins allow-plugins.yiisoft/yii2-composer true
          composer config --no-plugins allow-plugins.craftcms/plugin-installer true
          composer config --no-plugins allow-plugins.pestphp/pest-plugin true

      - name: Install dependencies
        run: composer require "craftcms/cms:^5.5" "markhuot/craft-pest-core:^3.0" --prefer-dist --no-progress --no-interaction --with-all-dependencies

      - name: Run test suite
        run: ./vendor/bin/pest
